<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="ChatServiceEndpoint"
                address="net.tcp://24.13.173.22:5190/ChatService"
                binding="netTcpBinding"
                bindingConfiguration="BindingConfiguration"
                contract="N_TrisNetworkInterface.IN_TrisServer">
        <identity>
          <servicePrincipalName value=""/>
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="BindingConfiguration" transferMode="Buffered" >
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>